/* ================
 * GENERAL SETTINGS
 * ================ */

html {
/* This makes it so that
 * 1.0 rem equals 10px */
  font-size: 62.5%;
}

.page-wrapper {
  width: fit-content;
  padding: 3.2rem;
  padding-top: 0;
  margin: 0 auto;
}

code, .file-list {
  padding-left: 3.2rem;
}

.todo {
  display: block;
}

p, nav, code {
  line-height: 1.5rem;
}

p, nav, code, .todo, h1, h2, h3, ol, ul {
  margin-bottom: 1rem;
}

p, code {
  display: block;
  unicode-bidi: embed;
  font-family: monospace;
  white-space: pre;
}

body, p, a, code, h1, h2, h3 {
  font-family: Terminus;
  font-size: 1.5rem;
  font-weight: normal;
  font-style: normal;
  /* font-smooth: never; */
  /* -webkit-font-smoothing : none; */
  /* Something is off with the font
   * rendering... maybe filtering?
   */
}

p, a  { font-size: 1.5rem; }
code  { font-size: 1.5rem; }
.todo { font-size: 1.4rem; }
h1    { font-size: 2.0rem; }
h2    { font-size: 1.8rem; }
h3    { font-size: 1.5rem; }

.code-shell,
.code-markdown,
.file-list,
.todo {}

body {
  background: #222222;
}

code, .file-list, .white {
  color: #D3D3D3;
}

.todo {
 color: #5F5F5F;
}

p, body, .grey {
  color: #C2C2B0;
}

a, .yellow {
  color: #FF9800;
}

.ascii, .green {
  color: #B1D631;
}

h1, h2, h3, .blue {
  color: #90B0D1;
}

/* Pseudo markdown syntax */
h2:before { content: '# '; }
h3:before { content: '## '; }

.todo li:before {
  content: 'TODO: ';
}

/* ================
 * WORK IN PROGRESS
 * ================ */

.navbar-list {
  display: inline-block;
  list-style-type: none;
}

.navbar-list li {
  float: left;
  margin: 0;
  padding: 0;
}

.navbar-list li:after {
  content: '';
  display: block;
  clear: both;
}

.navbar-list li + li::before {
  content: "|";
  font-family: Terminus;
  font-size: 1.5rem;
  padding: 1.5rem;
}
