@font-face {
  font-family: 'Terminus';
  font-display: auto;
  src: url('fonts/terminus.woff2') format('woff2'),
       url('fonts/terminus.woff') format('woff'),
       url('fonts/terminus.ttf') format('truetype');
}

@font-face {
  font-family: 'Terminus';
  font-display: auto;
  font-weight:  bold;
  src: url('fonts/terminus-italic.woff2') format('woff2'),
       url('fonts/terminus-italic.woff') format('woff'),
       url('fonts/terminus-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Terminus';
  font-display: auto;
  font-style: italic;
  src: url('fonts/terminus-italic.woff2') format('woff2'),
       url('fonts/terminus-italic.woff') format('woff'),
       url('fonts/terminus-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Terminus';
  font-display: auto;
  font-style: italic;
  font-weight:  bold;
  src: url('fonts/terminus-italic.woff2') format('woff2'),
       url('fonts/terminus-italic.woff') format('woff'),
       url('fonts/terminus-italic.ttf') format('truetype');
}
